In [3]:
import pandas as pd
import numpy as np

In [17]:
listing_summary = pd.read_csv('/Users/bi/Documents/Airbnb/jonloyens-inside-airbnb-austin/listings_summary.csv')

In [18]:
listing_summary.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,72635,"3 Private Bedrooms, SW Austin",377044,Jason & Marcie,NaN,78739,30.202824,-97.884309,Private room,300,2,1,2011-03-21,0.02,1,240
1,5386323,Cricket Trailer,27922117,Michael,NaN,78739,30.199414,-97.900684,Private room,99,3,0,NaN,NaN,1,364
2,8826517,Private room 1 in South Austin,46230038,Ric,NaN,78739,30.168496,-97.864483,Private room,100,1,0,NaN,NaN,2,365
3,8828616,Private room 2 in South Austin,46230038,Ric,NaN,78739,30.168621,-97.864874,Private room,100,1,0,NaN,NaN,2,365
4,8536913,Brand-New 3BR Austin Home,31148752,Bo,NaN,78739,30.169426,-97.888319,Entire home/apt,599,2,0,NaN,NaN,2,358

In [8]:
listing.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [10]:
calendar = pd.read_csv('/Users/bi/Documents/Airbnb/jonloyens-inside-airbnb-austin/calendar.csv')

In [12]:
calendar.head()

   listing_id        date available price
0       72635  2015-11-07         f   NaN
1       72635  2015-11-08         f   NaN
2       72635  2015-11-09         f   NaN
3       72635  2015-11-10         f   NaN
4       72635  2015-11-11         f   NaN

In [13]:
listings = pd.read_csv('/Users/bi/Documents/Airbnb/jonloyens-inside-airbnb-austin/listings.csv')

In [16]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')