# Cleaning Calendar.csv

In [1]:
import pandas as pd

In [2]:
calendar = pd.read_csv('airbnb_dataset/calendar.csv')

In [4]:
calendar.head()

   listing_id        date available price
0       72635  2015-11-07         f   NaN
1       72635  2015-11-08         f   NaN
2       72635  2015-11-09         f   NaN
3       72635  2015-11-10         f   NaN
4       72635  2015-11-11         f   NaN

In [5]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129775 entries, 0 to 2129774
Data columns (total 4 columns):
listing_id    int64
date          object
available     object
price         object
dtypes: int64(1), object(3)
memory usage: 65.0+ MB

In [6]:
# converting date to datetime datatype
calendar.date = pd.to_datetime(calendar.date)

In [7]:
calendar.available

0          f
1          f
2          f
3          f
4          f
          ..
2129770    t
2129771    t
2129772    t
2129773    t
2129774    t
Name: available, Length: 2129775, dtype: object

In [8]:
i = {'t': True, 'f': False}

In [9]:
calendar.available = calendar.available.map(i)

In [10]:
calendar.available.head()

0    False
1    False
2    False
3    False
4    False
Name: available, dtype: bool

In [ ]:
# save cleaned calendar dataframe
# calendar.to_csv("1_calendar_clean.csv", index=False)