# Cleaning Listing_summary.csv
- listing_summary.csv

In [2]:
import pandas as pd

# Cleaning listing_summary

In [3]:
listing_summary = pd.read_csv('airbnb_dataset/listings_summary.csv')

In [4]:
listing_summary.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,72635,"3 Private Bedrooms, SW Austin",377044,Jason & Marcie,NaN,78739,30.202824,-97.884309,Private room,300,2,1,2011-03-21,0.02,1,240
1,5386323,Cricket Trailer,27922117,Michael,NaN,78739,30.199414,-97.900684,Private room,99,3,0,NaN,NaN,1,364
2,8826517,Private room 1 in South Austin,46230038,Ric,NaN,78739,30.168496,-97.864483,Private room,100,1,0,NaN,NaN,2,365
3,8828616,Private room 2 in South Austin,46230038,Ric,NaN,78739,30.168621,-97.864874,Private room,100,1,0,NaN,NaN,2,365
4,8536913,Brand-New 3BR Austin Home,31148752,Bo,NaN,78739,30.169426,-97.888319,Entire home/apt,599,2,0,NaN,NaN,2,358

In [5]:
listing_summary.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [6]:
listing_summary = listing_summary.drop(columns=['neighbourhood_group'])

In [7]:
listing_summary.drop([5832], inplace=True)
listing_summary.reset_index(drop=True, inplace=True)

In [8]:
listing_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 15 columns):
id                                5834 non-null int64
name                              5834 non-null object
host_id                           5834 non-null int64
host_name                         5542 non-null object
neighbourhood                     5834 non-null int64
latitude                          5834 non-null float64
longitude                         5834 non-null float64
room_type                         5834 non-null object
price                             5834 non-null int64
minimum_nights                    5834 non-null int64
number_of_reviews                 5834 non-null int64
last_review                       3828 non-null object
reviews_per_month                 3826 non-null float64
calculated_host_listings_count    5834 non-null int64
availability_365                  5834 non-null int64
dtypes: float64(3), int64(8), object(4)
memory usage: 683.8+ KB

In [9]:
# converting to datetime
listing_summary.last_review = pd.to_datetime(listing_summary.last_review)

In [10]:
listing_summary.last_review

0      2011-03-21
1             NaT
2             NaT
3             NaT
4             NaT
          ...
5829   2015-10-16
5830   2015-10-19
5831          NaT
5832          NaT
5833          NaT
Name: last_review, Length: 5834, dtype: datetime64[ns]

In [11]:
listing_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 15 columns):
id                                5834 non-null int64
name                              5834 non-null object
host_id                           5834 non-null int64
host_name                         5542 non-null object
neighbourhood                     5834 non-null int64
latitude                          5834 non-null float64
longitude                         5834 non-null float64
room_type                         5834 non-null object
price                             5834 non-null int64
minimum_nights                    5834 non-null int64
number_of_reviews                 5834 non-null int64
last_review                       3828 non-null datetime64[ns]
reviews_per_month                 3826 non-null float64
calculated_host_listings_count    5834 non-null int64
availability_365                  5834 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8), object(3)
memory usage: 683.8+ KB

In [12]:
# save cleaned dataframe
listing_summary.to_csv("1_listings_sum_clean.csv", index=False)