# Cleaning Property_reviews table

In [1]:
import pandas as pd

In [2]:
property_reviews = pd.read_csv('split_property_reviews.csv')

In [3]:
property_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 17 columns):
id                                  5834 non-null int64
number_of_reviews                   5834 non-null int64
first_review                        3826 non-null object
last_review                         3828 non-null object
review_scores_rating                3788 non-null float64
review_scores_accuracy              3775 non-null float64
review_scores_cleanliness           3777 non-null float64
review_scores_checkin               3777 non-null float64
review_scores_communication         3777 non-null float64
review_scores_location              3778 non-null float64
review_scores_value                 3777 non-null float64
instant_bookable                    5834 non-null object
cancellation_policy                 5834 non-null object
require_guest_profile_picture       5834 non-null object
require_guest_phone_verification    5834 non-null object
calculated_host_listings_count      5834 non-null int64
reviews_per_month                   3826 non-null float64
dtypes: float64(8), int64(3), object(6)
memory usage: 775.0+ KB

In [5]:
property_reviews.head()

,id,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,72635,1,2011-03-21,2011-03-21,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,moderate,f,f,1,0.02
1,5386323,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,moderate,f,f,1,NaN
2,8826517,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,flexible,f,f,2,NaN
3,8828616,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,flexible,f,f,2,NaN
4,8536913,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,strict,f,f,2,NaN

In [6]:
property_reviews.first_review = pd.to_datetime(property_reviews.first_review)
property_reviews.last_review = pd.to_datetime(property_reviews.last_review)

In [7]:
i = {'t':0,'f':1}

In [8]:
property_reviews.instant_bookable = property_reviews.instant_bookable.map(i)
property_reviews.instant_bookable = property_reviews.instant_bookable.astype(float)

In [9]:
property_reviews.require_guest_profile_picture = property_reviews.require_guest_profile_picture.map(i)
property_reviews.require_guest_profile_picture = property_reviews.require_guest_profile_picture.astype(float)

In [10]:
property_reviews.require_guest_phone_verification = property_reviews.require_guest_phone_verification.map(i)
property_reviews.require_guest_phone_verification = property_reviews.require_guest_phone_verification.astype(float)

In [12]:
property_reviews.head()

,id,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,72635,1,2011-03-21,2011-03-21,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,moderate,1.0,1.0,1,0.02
1,5386323,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,moderate,1.0,1.0,1,NaN
2,8826517,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,flexible,1.0,1.0,2,NaN
3,8828616,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,flexible,1.0,1.0,2,NaN
4,8536913,0,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,strict,1.0,1.0,2,NaN

In [11]:
property_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 17 columns):
id                                  5834 non-null int64
number_of_reviews                   5834 non-null int64
first_review                        3826 non-null datetime64[ns]
last_review                         3828 non-null datetime64[ns]
review_scores_rating                3788 non-null float64
review_scores_accuracy              3775 non-null float64
review_scores_cleanliness           3777 non-null float64
review_scores_checkin               3777 non-null float64
review_scores_communication         3777 non-null float64
review_scores_location              3778 non-null float64
review_scores_value                 3777 non-null float64
instant_bookable                    5834 non-null float64
cancellation_policy                 5834 non-null object
require_guest_profile_picture       5834 non-null float64
require_guest_phone_verification    5834 non-null float64
calculated_host_listings_count      5834 non-null int64
reviews_per_month                   3826 non-null float64
dtypes: datetime64[ns](2), float64(11), int64(3), object(1)
memory usage: 775.0+ KB

In [13]:
property_reviews.to_csv('1_property_reviews_clean.csv', index=False)