In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('split_property_price.csv')

In [3]:
df.head()

,id,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped
0,72635,$300.00,NaN,NaN,NaN,NaN,1,$0.00,2,10,t,0,0,0,240,2015-11-07
1,5386323,$99.00,$600.00,NaN,"$1,000.00",$75.00,1,$0.00,3,7,t,29,59,89,364,2015-11-07
2,8826517,$100.00,NaN,NaN,NaN,NaN,1,$0.00,1,1125,t,30,60,90,365,2015-11-07
3,8828616,$100.00,NaN,NaN,NaN,NaN,1,$0.00,1,1125,t,30,60,90,365,2015-11-07
4,8536913,$599.00,NaN,NaN,NaN,$125.00,1,$0.00,2,1125,t,27,57,87,358,2015-11-07

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 16 columns):
id                       5834 non-null int64
price                    5834 non-null object
weekly_price             2227 non-null object
monthly_price            1717 non-null object
security_deposit         2770 non-null object
cleaning_fee             3586 non-null object
guests_included          5834 non-null int64
extra_people             5834 non-null object
minimum_nights           5834 non-null int64
maximum_nights           5834 non-null int64
has_availability         5834 non-null object
availability_30          5834 non-null int64
availability_60          5834 non-null int64
availability_90          5834 non-null int64
availability_365         5834 non-null int64
calendar_last_scraped    5834 non-null object
dtypes: int64(8), object(8)
memory usage: 729.4+ KB

In [7]:
# # split the $ symbol
# # replace any commas
# # convert into float
df.price = df.price.str.split('$').str[1]
df.price = df.price.replace(',', '', regex=True)
df.price = df.price.astype(float)

In [8]:
df.weekly_price = df.weekly_price.str.split('$').str[1]
df.weekly_price = df.weekly_price.replace(',', '', regex=True)
df.weekly_price = df.weekly_price.astype(float)

In [9]:
df.monthly_price = df.monthly_price.str.split('$').str[1]
df.monthly_price = df.monthly_price.replace(',', '', regex=True)
df.monthly_price = df.monthly_price.astype(float)

In [10]:
df.security_deposit = df.security_deposit.str.split('$').str[1]
df.security_deposit = df.security_deposit.replace(',', '', regex=True)
df.security_deposit = df.security_deposit.astype(float)

In [11]:
df.cleaning_fee = df.cleaning_fee.str.split('$').str[1]
df.cleaning_fee = df.cleaning_fee.replace(',', '', regex=True)
df.cleaning_fee = df.cleaning_fee.astype(float)

In [12]:
df.extra_people = df.extra_people.str.split('$').str[1]
df.extra_people = df.extra_people.astype(float)

In [14]:
i = {'t':0, 'f':1}

In [15]:
# applying boolean datatype
df.has_availability = df.has_availability.map(i)
df.has_availability = df.has_availability.astype(float)

In [16]:
# converting to datetime
df.calendar_last_scraped = pd.to_datetime(df.calendar_last_scraped)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 16 columns):
id                       5834 non-null int64
price                    5834 non-null float64
weekly_price             2227 non-null float64
monthly_price            1717 non-null float64
security_deposit         2770 non-null float64
cleaning_fee             3586 non-null float64
guests_included          5834 non-null int64
extra_people             5834 non-null float64
minimum_nights           5834 non-null int64
maximum_nights           5834 non-null int64
has_availability         5834 non-null float64
availability_30          5834 non-null int64
availability_60          5834 non-null int64
availability_90          5834 non-null int64
availability_365         5834 non-null int64
calendar_last_scraped    5834 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(8)
memory usage: 729.4 KB

In [18]:
df.to_csv('1_property_price_clean.csv', index=False)