# Cleaning Host.csv
- create a table with only unique host_id
- table will be used as a reference to the host_id table in MySQL

In [2]:
import pandas as pd

In [48]:
host = pd.read_csv('split_host.csv')

In [49]:
host.head()

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,72635,377044,Jason & Marcie,2011-02-04,"Austin, Texas, United States",NaN,NaN,NaN,f,Circle C,1.0,"['email', 'facebook', 'linkedin', 'reviews']",t,f
1,5386323,27922117,Michael,2015-02-17,"Austin, Texas, United States",NaN,NaN,NaN,f,Circle C,1.0,"['email', 'phone', 'google', 'kba']",t,t
2,8826517,46230038,Ric,2015-10-10,"Austin, Texas, United States",NaN,NaN,NaN,f,NaN,2.0,"['email', 'phone', 'linkedin', 'jumio']",t,t
3,8828616,46230038,Ric,2015-10-10,"Austin, Texas, United States",NaN,NaN,NaN,f,NaN,2.0,"['email', 'phone', 'linkedin', 'jumio']",t,t
4,8536913,31148752,Bo,2015-04-13,US,within a few hours,98%,81%,f,Holly,301.0,"['email', 'phone', 'linkedin', 'reviews', 'jum...",t,t

In [50]:
host.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 14 columns):
id                           5834 non-null int64
host_id                      5834 non-null int64
host_name                    5819 non-null object
host_since                   5819 non-null object
host_location                5809 non-null object
host_response_time           4176 non-null object
host_response_rate           4176 non-null object
host_acceptance_rate         3850 non-null object
host_is_superhost            5819 non-null object
host_neighbourhood           4977 non-null object
host_total_listings_count    5819 non-null float64
host_verifications           5834 non-null object
host_has_profile_pic         5819 non-null object
host_identity_verified       5819 non-null object
dtypes: float64(1), int64(2), object(11)
memory usage: 638.2+ KB

In [51]:
# converting host_since to datetime
host.host_since = pd.to_datetime(host.host_since)

# str split host_reponse_time, grabbing only numeric value
host.host_response_rate = host.host_response_rate.str.split('%').str[0]

# converting numeric value into float
host.host_response_rate = host['host_response_rate'].astype(float)
# converting float to percent
host.host_response_rate = host.host_response_rate/100


# split str to grab numeric value
host.host_acceptance_rate = host.host_acceptance_rate.str.split('%').str[0]

# converting datatype to float
host.host_acceptance_rate = host.host_acceptance_rate.astype(float)

# converting to percentage
host.host_acceptance_rate = host.host_acceptance_rate/100

In [52]:
# boolean datatype
host.host_is_superhost

0       f
1       f
2       f
3       f
4       f
       ..
5829    f
5830    t
5831    f
5832    f
5833    f
Name: host_is_superhost, Length: 5834, dtype: object

In [53]:
i = {'t': 0, 'f': 1}

In [54]:
# converting datatype to boolean
host.host_is_superhost = host.host_is_superhost.map(i)

host.host_has_profile_pic = host.host_has_profile_pic.map(i)

host.host_identity_verified = host.host_identity_verified.map(i)

In [55]:
# checking datatype
host.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 14 columns):
id                           5834 non-null int64
host_id                      5834 non-null int64
host_name                    5819 non-null object
host_since                   5819 non-null datetime64[ns]
host_location                5809 non-null object
host_response_time           4176 non-null object
host_response_rate           4176 non-null float64
host_acceptance_rate         3850 non-null float64
host_is_superhost            5819 non-null float64
host_neighbourhood           4977 non-null object
host_total_listings_count    5819 non-null float64
host_verifications           5834 non-null object
host_has_profile_pic         5819 non-null float64
host_identity_verified       5819 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(5)
memory usage: 638.2+ KB

### Removing duplicates

- Some host have multiple properties
- We do not need duplicates
- Create a unique host table since host info is the same for properties that have similar host

In [56]:
# There are duplicates for sure
host['host_id'].duplicated()

0       False
1       False
2       False
3        True
4       False
        ...
5829     True
5830     True
5831     True
5832    False
5833    False
Name: host_id, Length: 5834, dtype: bool

In [57]:
# Confirmation that some host have mulitple connections to properties
# host_id 4641823 has 127 properties on Airbnb listings
host.host_id.value_counts()

4641823     127
31148752     42
8167447      26
579290       18
1488733      17
           ...
21734634      1
419038        1
24904632      1
35575004      1
29982720      1
Name: host_id, Length: 4632, dtype: int64

In [58]:
host.drop_duplicates(subset=['host_id'], inplace=True)

In [59]:
# drop_duplicates has removed all duplicates, keeping only unique host_ids (aka the host)
host.host_id.value_counts()

3655679     1
410409      1
31621829    1
21359457    1
9169608     1
           ..
3264154     1
26543522    1
2844918     1
2852262     1
29982720    1
Name: host_id, Length: 4632, dtype: int64

In [60]:
# reset the index
host.reset_index(drop=True, inplace=True)

In [61]:
# count 4632 unique host_ids, AWESOME!
host.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4632 entries, 0 to 4631
Data columns (total 14 columns):
id                           4632 non-null int64
host_id                      4632 non-null int64
host_name                    4618 non-null object
host_since                   4618 non-null datetime64[ns]
host_location                4608 non-null object
host_response_time           3023 non-null object
host_response_rate           3023 non-null float64
host_acceptance_rate         2718 non-null float64
host_is_superhost            4618 non-null float64
host_neighbourhood           3869 non-null object
host_total_listings_count    4618 non-null float64
host_verifications           4632 non-null object
host_has_profile_pic         4618 non-null float64
host_identity_verified       4618 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(5)
memory usage: 506.8+ KB

In [62]:
host.to_csv("1_host_unique.csv", index=False)