# Creating a unique host table

Problem: 
- There are hosts with multiple properties

Solution:
- Create a sepereate table for unique host

Side notes:
- All host with multiple properties has identical information about the host
- Creating a new table will not loss data
- host_id will be the primary key that uniquely identifies the host

In [1]:
import pandas as pd

In [71]:
df = pd.read_csv('2_host.csv')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 14 columns):
id                           5834 non-null int64
host_id                      5834 non-null int64
host_name                    5819 non-null object
host_since                   5819 non-null object
host_location                5809 non-null object
host_response_time           4176 non-null object
host_response_rate           4176 non-null float64
host_acceptance_rate         3850 non-null float64
host_is_superhost            5834 non-null bool
host_neighbourhood           4977 non-null object
host_total_listings_count    5819 non-null float64
host_verifications           5834 non-null object
host_has_profile_pic         5834 non-null bool
host_identity_verified       5834 non-null bool
dtypes: bool(3), float64(3), int64(2), object(6)
memory usage: 518.6+ KB

In [63]:
doop = df[df['host_id'].duplicated()]

In [74]:
df.host_since = pd.to_datetime(df.host_since)

In [85]:
doop.host_has_profile_pic.value_counts()

True    1202
Name: host_has_profile_pic, dtype: int64

In [76]:
doop.host_id.value_counts()

4641823     126
31148752     41
8167447      25
579290       17
1488733      16
           ...
23857650      1
8186          1
26029087      1
7902251       1
29893670      1
Name: host_id, Length: 568, dtype: int64

In [77]:
df.drop_duplicates(subset=['host_id'], inplace=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4632 entries, 0 to 5833
Data columns (total 14 columns):
id                           4632 non-null int64
host_id                      4632 non-null int64
host_name                    4618 non-null object
host_since                   4618 non-null datetime64[ns]
host_location                4608 non-null object
host_response_time           3023 non-null object
host_response_rate           3023 non-null float64
host_acceptance_rate         2718 non-null float64
host_is_superhost            4632 non-null bool
host_neighbourhood           3869 non-null object
host_total_listings_count    4618 non-null float64
host_verifications           4632 non-null object
host_has_profile_pic         4632 non-null bool
host_identity_verified       4632 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 447.8+ KB

In [88]:
df[['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified']]

      host_is_superhost  host_has_profile_pic  host_identity_verified
0                 False                  True                   False
1                 False                  True                    True
2                 False                  True                    True
4                 False                  True                    True
5                 False                  True                   False
...                 ...                   ...                     ...
5822              False                  True                   False
5825              False                  True                    True
5828              False                  True                    True
5832              False                  True                    True
5833              False                  True                    True

[4632 rows x 3 columns]

In [ ]:
for i in df[]

In [79]:
df.to_csv('2_host_unique.csv', index= False)